/* ------------- Defaults --------------- */

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 62.5%/1.5 Verdana, Arial,  Helvetica;
  font-size: 20pt;
  color: #000000;
  background: #ffffff;
  padding: 20px
}

h1{
  margin: 10px;
  color: #141433;
  font-family: Helvetica, Verdana, sans-serif;
}

ul{
  list-style: none;
  text-align: center;
  width: 200px;
  margin: 0;
  padding: 0;
}
li a{
  font-size: 12pt;
  font-family: Arial, sans-serif;
  color: #141433;
  text-decoration: none;
}
li{
  display: inline;
}

