/* ------------- Defaults --------------- */

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 62.5%/1.5 Verdana, Arial,  Helvetica;
  font-size: 20pt;
  color: #000000;
  background: #ffffff;
  padding: 20px
}

h1{
  margin: 120px;
  padding: 100px;
  color: #141433;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

ul{
  list-style: none;
  text-align: right;
  width: 100%;
  margin-top: -460px;
  margin-left: -120px;
  padding: -150px;
}
li a{
  font-size: 12pt;
  font-family: Arial, sans-serif;
  color: #141433;
  text-decoration: none;
  padding: 8px 16px;
  
}
li{
  display: inline;
}

li a:hover {
  color: #800000;
  text-decoration: underline; 
}

#searchForm{
  /* The search form. */
  background-color:#ffffff;
  padding:50px 50px 30px;
  width: 300px;
  margin-top: -150px;
  margin-left:  500px;
  position:relative;
  border: 2px solid #000000;
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
}
